.homeContainer {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  width: 100%;
  height: 100vh;
  background-image: url("/src/assets/home bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shadowTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.titleContainer h1,
.titleContainer p {
  margin-left: 25%;
  color: white;
}

.titleContainer h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 0;
}

.titleContainer p {
  font-size: 35px;
  margin-top: 0;
}

.program {
  position: relative;
  background-color: #01121a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 140px 0;
}

.program .backgroundProgram {
  position: absolute;
  right: 0;
  top: 0;
  height: 80%;
  width: 50%;
}

.borderTopProgramme {
  border: solid 2px white;
  width: 30px;
  border-radius: 50px;
}

.program h2 {
  font-size: 35px;
  margin: 30px 0;
}

.program p {
  padding: 0 50px;
  margin: 0;
}

.programContent {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.program img {
  width: 64px;
}

.program ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 80px 0;
}

.program li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.program li p {
  font-weight: 700;
  margin-top: 30px;
}

.program button {
  cursor: pointer;
  border: 2px solid #04809f;
  padding: 12px 22px;
  font-size: 16px;
  font-weight: 800;
  background-color: #04809f;
  color: white;
  transition: all 0.3s;
}

.program button:hover {
  border: 2px solid #04809f;
  background-color: white;
  color: #04809f;
  scale: 0.99;
}

.values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 140px;
}

.valuesContent {
  width: 60%;
}

.valuesTop {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: -50px;
}

.valuesTop img {
  width: 540px;
  height: 460px;
  object-fit: cover;
  z-index: 2000;
}

.borderTopValues {
  border: solid 2px #04809f;
  width: 30px;
  border-radius: 50px;
}

.valuesRight {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 80px;
}

.valuesRight h2 {
  font-size: 35px;
  color: #173d7a;
}

.valuesRight p {
  font-weight: 400;
  font-size: 14px;
  color: #475b67;
}

.valuesRight h4 {
  color: #475b67;
  margin-top: 0;
}

.valuesRight button {
  cursor: pointer;
  border: 2px solid #04809f;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: #04809f;
  color: white;
  transition: all 0.3s;
  margin-top: 30px;
}

.valuesRight button:hover {
  border: 2px solid #04809f;
  background-color: white;
  color: #04809f;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  scale: 0.99;
}

.values ul {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin-top: 130px;
  list-style: none;
  padding: 0;
}

.values li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.values li img {
  width: 64px;
}

.values li:hover .valueIcon {
  transform: translateY(-10%);
  transition: transform 0.3s;
}

.values li p {
  font-weight: 700;
  color: #475b67;
  margin: 30px 0 0 0;
}
